{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}
    <h1>Loan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ loan.id }}</td>
            </tr>
            <tr>
                <th>Date_reserved</th>
                <td>{{ loan.dateReserved ? loan.dateReserved|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_loan</th>
                <td>{{ loan.dateLoan ? loan.dateLoan|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_return</th>
                <td>{{ loan.dateReturn ? loan.dateReturn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ loan.status }}</td>
            </tr>
            <tr>
                <th>Is_late</th>
                <td>{{ loan.isLate ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_loan_index') }}">back to list</a>

    <a href="{{ path('app_loan_edit', {'id': loan.id}) }}">edit</a>

    {{ include('loan/_delete_form.html.twig') }}
{% endblock %}
